.Toolbar{
	width: 100%;
	height: 56px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	left: 0;
	top: 0;
	padding: 0 20px;
	background-color: #703B09;
	box-sizing: border-box;
	z-index: 90;
}

.Name{
	height: 90%;
	font-weight: bold;
	font-style: italic;
}

